body{
    padding: 0;
    margin: 0;
    font-size: 0.9em;
    color:white;
}
#container{
background-color: aqua;
border: 1px solid white;
}
#menu-bar{
    background-color: gray;
    color: lightgray;
    padding: 4px;    
}
#menu-bar div{
    display: inline-block;
}

#menu-bar .icon{
width:20px;
}
#menu-bar .menu-items{
    width: 70%;
    text-align: left;
}
#menu-bar .menu-items ul{
    padding: 0px;
    margin:0px;
}

#menu-bar .menu-items ul li{
    display: inline-block;
}

#menu-bar .menu-items ul li a{
    text-decoration: none ;
    margin-right: 10px;
    color: lightgray;
}

#menu-bar .right-icons{
    float:right;
}

#center-container{
    clear:both;
    height: 90vh;
    background-color: rgb(27, 27, 27);   
}

#center-container .toolbar{
display: inline-block;
width:30px;
background-color: #3c3c3c;
height: 100%;
}

#center-container .toolbar i{
    margin-top: 10px;
    margin-left: 5px;
}

#center-container .explorer{
    display: inline-block;
    width:20%;
    background-color: #252526;
    vertical-align: top; 
    height: 100%;
    
}

#center-container .opened-files{
    display: inline-block;
    width: 73%;
    background: black;
    vertical-align: top; 
    height: 100%;
}

#center-container .opened-files .opened-file{
    width: 100%;
    height: 50%;
    border-bottom: 1px solid gray;
}

#footer{
    background-color: #007acc;
    font-size: 0.75em;
    padding: 3px;
}