.w_15{
    display: inline-block;
    width: 14.5%;
    padding: 0px;
}

.w_30{
    display: inline-block;   
    width:29%;
}
.w_35{
    display: inline-block;
    width: 34.5%;
}

.w_50{
    display: inline-block;
    width: 49%;
}
.w_60{
    display: inline-block;
    width: 60%;
}
.w_70{
    display: inline-block;   
    width:69%;
}